[2019-09-05 17:56] MauRiEEZZZ opened #1 "multiple settingsfile support via pipeline"
When adding multiple alertrules it would be nice to use multiple files in one line.

I think it is good practise to have alertrules together in one file about one subject.
The naming of the file describes the subject of alertrules defined in the file.
One customer could need less or more subjects and so alertrules.

To implement a certain amount of rules you could filter using where or wildcard wi

[2019-09-05 18:51] maartengoet opened #2 "Feature Request: rename cmdlet"
# Feature Request

Rename "New-AzAnalytic" to "New-AlertRule" to better align with Azure Sentinel naming.

[2019-09-06 07:58] MauRiEEZZZ opened #4 "Feature Request: address a workspace to Set-AzSentinel from pipeline"
# Summary of the new feature/enhancement

It would be nice if the object(s) that returned from
New-AzOperationalInsightsWorkspace (speaking of long functionnames ;-) )
or
Get-AzOperationalInsightsWorkspace
could be used to provision Sentinel on it using Set-AzSentinel.
# Proposed technical implementation details (optional)

[2019-09-06 08:08] MauRiEEZZZ opened #5 "Feature Request: Get-AzSentinelAlertRule and maybe remove?"
# Summary of the new feature/enhancement

After we create some AlertRules from Powershell using New-AzSentinelAlertRule
I would like to get all of them too without going to the portal.

And why not implenting Remove-AzSentinelAlertRule?

# Proposed technical implementation details (optional)
I think most of the code is already there.

An example of all functions combined:
Get-AzOperationalInsights

[2019-09-06 08:42] #2 closed, assigned to pkhabazi

[2019-09-06 08:43] #1 closed, assigned to pkhabazi

[2019-09-06 11:06] pkhabazi opened #6 "Update documentation"
Update documentation and provide example code

[2019-09-06 13:28] pkhabazi opened #7 "Feature Request - optimise parameters required"
# Summary of the new feature/enhancement

minimize the amount of parameters, automatically resolve the workspace RG and subid

# Proposed technical implementation details (optional)

example
[code]

[2019-09-08 21:45] pkhabazi opened #10 "update Remove-AzSentinelAlertRule to accept value from pipeline"
**Remove-AzSentinelAlertRule**
I was thinking I could do the following Example, but instead I received errors, Maybe I am using it wrong.
![image](https://user-images.githubusercontent.com/9781801/64494794-8978d880-d291-11e9-9419-9ff341bca60b.png)
I did see RuleName accepts pipeline input in the helpfiles and it says (ByValue).
Perhaps I am doing this wrong, I just expected it work like in my exam

[2019-09-08 21:59] #5 closed, assigned to pkhabazi

[2019-09-09 06:57] #7 closed, assigned to pkhabazi

[2019-09-09 07:55] pkhabazi commented on #10
You can do this by executing the following code:
[code]
![image](https://user-images.githubusercontent.com/20944041/64512895-ac35dc00-d2e7-11e9-8242-6f76c9ebaad4.png)

[2019-09-09 23:48] anirudhgarg opened #11 "Please upload to PowerShell Gallery"
Please upload this module to PowerShell Gallery, then this can be trivially used in Azure Functions.

[2019-09-10 08:05] pkhabazi commented on #11
@anirudhgarg  thanks for your feedback. We are currently working on a build pipeline which will release the module to the PowerShell Gallery. Will be done in coming days hopefully

[2019-09-10 08:06] pkhabazi commented on #10
@MauRiEEZZZ I think we can close this issue?

[2019-09-10 13:32] MauRiEEZZZ commented on #10
Is it an idea I create a second constructor to allow the AlertRule object from pipeline in addition to the array of strings?

Groeten,
Maurice
________________________________
Van: Pouyan Khabazi <notifications@github.com>
Verzonden: Tuesday, September 10, 2019 10:06:22 AM
Aan: wortell/AZSentinel <AZSentinel@noreply.github.com>
CC: Maurice MJ de Jong <maurieezzz@hotmail.com>; Mention <mention@nore

[2019-09-13 07:55] pkhabazi commented on #4
we have "Get-LogAnalyticWorkspace" as a private function, This function is used to test if the workspace exists and returns some base uri elements on script scope

[2019-09-13 07:55] #4 closed

[2019-09-19 23:14] pkhabazi opened #12 "Add support for hunting rules"
# Summary of the new feature/enhancement

Add new, get, remove and import functions for hunting rules

[2019-09-19 23:14] pkhabazi opened #13 "Feature Request - Incidents"
# Summary of the new feature/enhancement

Add  get function for incidents

[2019-09-25 12:18] #6 closed

[2019-09-25 12:24] #13 closed

[2019-09-25 12:24] #12 closed

[2019-09-29 17:22] pkhabazi commented on #11
version 0.6.0 is available in PowerShell Gallery
https://www.powershellgallery.com/packages/AzSentinel/0.6.0

[2019-09-29 17:22] #11 closed

[2019-09-29 20:52] anirudhgarg commented on #11
Thanks @pkhabazi for doing this. Now we can use this in Azure Functions easily.

[2019-09-30 13:12] pkhabazi opened #15 "Feature Request: Workbooks"
# Summary of the new feature/enhancement

Add support to automatically upload workbooks

feedback from: Edoardo Gerosa

[2019-09-30 13:19] pkhabazi opened #16 "Feature Request: Import function error handling"
# Summary of the new feature/enhancement

import-alertrules and import-huntingrules function stops when one of the rules triggers a error, update the function to continue when a error is triggered.

feedback from Edoardo Gerosa

[2019-10-08 15:31] MarcOverIP opened #17 "Feature Request: data connector automation"
Although I very much appreciate the creation/deletion of rules in Sentinel, Im also looking for ways to programmatically do the deployment of Sentinel. You have one such function, Set-AzSentinel, which is awesome. But Im missing functions for:

-  enable the data connectors on machines. In the GUI: Home > Azure Sentinel workspaces > Azure Sentinel - Data connectors > $SomeConnectorName > Virtual M

[2019-10-10 11:57] ssi0202 opened #18 "import-azsentinelAlertRule error"
This bug tracker is monitored by contributors and the community.

Please use this form and describe your issue, concisely but precisely, with as much detail as possible.
installed ps6 and azsentinel powershell from wotell github. set subscription id and workspace id

Environment

prod

PowerShell version (if applicable):
6

Steps to reproduce

Expected behavior

the rules should be imported to sen

[2019-10-10 12:11] pkhabazi opened #19 "Bug Report - Description fields causing issues importing"
# Steps to reproduce

It appears that it's failing on import because it's expecting a Description field. I added it to one of the json files and worked.

# Expected behavior

It should accept null value

# Actual behavior

![image](https://user-images.githubusercontent.com/20944041/66567591-d9381180-eb67-11e9-8469-16e6105f88e8.png)

[2019-10-10 12:14] #19 closed

[2019-10-10 18:17] pkhabazi commented on #18
Thanks for your feedback, set-azsentinel doesn't set your Azure context but enables Azure Sentinel on a existing Log analytics workspace.

Please check the following:
1. use set-azcontext to switch to the correct subscription or use the -subscription switch to provide the correct subscribtion where you have deployed and enabled Azure Log analytics and Azure sentinel
2. please see if you have permi

[2019-10-11 17:32] nm67326y9 opened #20 "Import-AzSentinelAlertRule Informational Severity - user error?"
Very impressed so far and having great success with Import-AzSentinelAlertRule (JSON) except for

"severity": "Informational"

which imports without error but has a "High" severity on the portal that needs a manual change.

[2019-10-14 08:02] pkhabazi opened #23 "Bug Report - Remove-AzSentinelAlertRule"
Remove-AzSentinelAlertRule not working

[2019-10-14 08:04] pkhabazi commented on #20
thanks for your feedback, I have been testing this issue and its related to how enum's get converted to JSON in the webrequest process. Will be solved in the next pr

[2019-10-14 09:17] pkhabazi commented on #10
Closing this issue

[2019-10-14 09:17] #10 closed

[2019-10-15 08:35] nm67326y9 commented on #20
Tested PR 'smallchanges' and version 0.6.1 fixes this issue. Many thanks Pouyan.

[2019-10-15 12:28] #23 closed

[2019-10-15 13:05] pkhabazi commented on #20
Thanks for testing @nm67326y9 , AzSentinel module version 0.6.1 is now available in the PowerShell Gallery: https://www.powershellgallery.com/packages/AzSentinel/0.6.1

[2019-10-15 13:05] #20 closed

[2019-10-15 13:05] #16 closed

[2019-10-15 13:06] pkhabazi commented on #16
updated import function to continue on error

[2019-10-15 13:08] pkhabazi commented on #18
@ssi0202  please let me know if you need further assist, I am more than happy to help!

[2019-10-15 13:31] pkhabazi commented on #17
hi Marc, thanks again for your great feedback. I am glad that you like the work done.

I cannot follow up with the first point, when I fallow the described path I cannot  continue from "Virtual Machines > $MachineName - click on connect". Can you please add more info to this point

Point 2 is good one, I have already done some testing on this part. Unfortunately there is  to much variation in conf

[2019-10-15 14:32] ssi0202 commented on #18
hi thanks for the beat back, i have not gotten it to work yet, but i'll try and get my azure "guru" to look at my commands tomorrow. I'm pretty sure it's at my end, just stomped. ;)

[2019-10-18 11:30] MarcOverIP commented on #17
Hi Pouyan,

Indeed, the option when selected has a different name compared to the 'top bar'. Basically I mean the path of enabling a connector on an (Azure) vm. Let's take the 'Security Events' connector for example. Full click-path is:
Home > Azure Sentinel workspaces > Azure Sentinel - Data connectors > Security Events > Open connector page > Install agent on Azure Windows Virtual Machine > Down

[2019-10-21 12:43] pkhabazi commented on #17
hi Marc,

Thanks for the extra info, that clarifies a lot. So the agent that you want to enable is actually the log analytics workspace agent "MicrosoftMonitoringAgent". You can enable this trough JOSN ARM or PowerShell by running the following:

[code]
[source](https://github.com/uglide/azure-content/blob/master/articles/log-analytics/log-analytics-azure-vm-extension.md#enable-the-vm-extension-us

[2019-11-01 14:47] ssi0202 commented on #18
ok i fixed it.

i used this instead
Import-AzSentinelHuntingRule -WorkspaceName "XXXXXXl" -SettingsFile ".\sentinel_attack_rules.json"

so dont use the alert rule to import huntingrules. ;-)

[2019-11-04 07:30] pkhabazi commented on #18
thanks for the update, so you were using the import-azsentinelalertrule to import hunting rules? I will close this issue, please feel free to open new issue if you have any feedback, suggestion or question.

[2019-11-08 11:20] ssi0202 commented on #18
hi just to clearify

i was using Import-AzSentinelAlertRule to try and upload the files in the "detections" folder from the sentinel-attack github.

i can get everything running if i used the import-AzsentinelHuntingRule from this folder.

if i try to use the get-AzsentinelAlertRule or import-AzsentinelAlertRule this fails
below is the error when i try to get/list existing alertrules from the sent

[2019-11-08 13:11] pkhabazi commented on #18
hi @ssi0202  thanks for the update, which version of the AzSentinel module are you using? please try version [0.6.1](https://www.powershellgallery.com/packages/AzSentinel/0.6.1) this one includes some bug fixes.

Can you also share your json file so that we can take a look at it?

[2019-11-11 11:00] ssi0202 commented on #18
hi thanks for getting back to me.

i reimported the azsentinel module below is the version nr

[code]

[sentinel_attack_rules - Copy_json.txt](https://github.com/wortell/AZSentinel/files/3830992/sentinel_attack_rules.-.Copy_json.txt)

i had to rename the json file til .txt to get it uploaded here. It's the one here

https://github.com/BlueTeamLabs/sentinel-attack/tree/master/detections

[2019-11-18 19:20] ssi0202 commented on #18
hi, so we do not know what happend, we litteraly tried again today with the exact  same commands and now it works. go ahead and close it. And thanks for making this public/sharing it in the first place

[2019-11-22 12:10] MarcOverIP commented on #17
Thanks, got it to work via templates.

Really looking forward on your solution for the data connectors!

[2019-11-24 13:17] garybushey opened #26 "The example in Get-AzSentinelAlertRule.md doesn't work"
The example to show all the rules:
Get-AzSentinelAlertRule -WorkspaceName "" -RuleName "",""

Throws an error stating there needs to be a value for WorkspaceName.  Even with filling in the WorkspaceName, an error is thrown stating that RuleName cannot be null, empty, or has an element of the argument collection that is null

[2019-11-24 13:29] garybushey opened #27 "Issue using Import-AzSentinelAlertRule"
Not sure if this is an error with this code or with the way the default queries are written in the Azure Sentinel GitHub repository.

I tried to use Import-AzureSentinelAlertRule going against the exchange_auditlogdisabled.yaml rule stored in the Detections/OfficeActivity folder in the Azure Sentinel GitHub repository (copied locally of course) and received the following error:

Import-AzSentinelA

[2019-11-26 19:26] pkhabazi commented on #26
hi @garybushey , thanks for your feedback. Rulename parameter is not required, but if you define it then the value cannot be null or empty.

Try running the following to get a list of all the rules:

[code]

[2019-11-26 19:35] pkhabazi commented on #27
hi @garybushey , this is a known issue and it's caused because the yaml files use the value "gt" and it should be "GreaterThan". The value "gt" is not a supported value. please update the "TriggerOperator" value to "GreaterThan" and you are good to go.

[2019-12-02 22:47] pkhabazi commented on #18
I am glad to hear that the problem is solved, please feel free to open new issue if you have any questions or feedback! Closing issue as requested

[2019-12-02 22:47] #18 closed

[2019-12-13 08:40] sbroosnokia opened #28 "Feature Request: Triggering Logic Apps from rule"
Currently there is no way (or at least I cannot find how) to add "Automated Response" to an alerting rule.
It would be nice if we could also specify a logic app in the analytics settingsfiles.

[2019-12-13 10:55] sbroosnokia opened #29 "Guidance: How to change the displayName of an alert?"
I tried to rename an alert by specifying "name" (the alert id) and displayName: the alert name. But I get an error when I change displayName to something else (Add-Member : Cannot add a member with the name "DisplayName" because a member with that name already exists. To overwrite the member anyway, add the Force parameter to your command.)

It then proceeds, but just creates a new instance of the

[2019-12-23 10:15] pkhabazi commented on #26
no response from user, closing issue.

[2019-12-23 10:15] #26 closed

[2019-12-23 10:16] pkhabazi commented on #27
this issue will be fixed in the new version which will be release in the upcoming days

[2020-01-14 10:05] pkhabazi opened #30 "Feature Request: code cleanup"
# Summary of the new feature/enhancement

some idea for code optimization and cleanup :
- clean code, class contains unused code
- replace invoke-webrequest with invoke-restmethod

[2020-01-22 08:35] sbroosnokia opened #32 "Using day notation in period and frequency fields"
Currently it does not seem possible to use day notation in the timing fields.
As a result I have to use 24H, which Sentinel always converts to 1D. This is seen as a change whenever I synchronize rules.

[2020-01-29 11:14] pkhabazi commented on #28
hi @sbroosnokia sorry for the delay. This is a feature that I am currently working on in branch feature/playbook. the problem that I am currently having is that playbook is actually a separate resource registration and not part of the Alert Rule properties. So to get it working in the JSON format I need to do some rework to get the compare function etc working correct.

[2020-01-29 11:26] pkhabazi commented on #29
hi @sbroosnokia thanks for the feedback, this is currently not available in the AzSentinel module. the problem is that we use displayName as the unique identifier for the compare function. otherwise we cannot test if the alert rule already exists. we ca do 2 thinks to solve this issue:
1. we can introduce a new field in JSON layout for example "displayNameNew" and when this is filled in we will ha

[2020-01-29 12:18] sbroosnokia commented on #29
Hi,

Second solution is much cleaner according to me. The reason for this request is because we check in our alert rules in git, and do a scripted synchronize once all ci testing is done. Currently this will create multiple rules when the title of the rule got changed.

Could it be a possibility to work with a uuid as identifier? I think Microsoft does it for the official rules as well.

[2020-01-29 16:13] #30 closed

[2020-01-29 16:21] pkhabazi commented on #27
hi @garybushey it took a little bit longer than expected but this issue should have been solved in version 0.6.2 in current **development branch**, is it possible for you to test this issue? the PS Module in ps gallery isn't updated yes so you need to import the module manually

[2020-02-03 14:46] sbroosnokia opened #34 "Feature Request: add force flag when importing / changing a rule"
Hi, it would be convenient to have a -Force update flag in case a rule setting was changed. Current behavior asks for confirmation to the end user. However this limits the automation of using this module in CI pipelines.

Same comment for the other type of settings (e.g. hunting queries), a Force flag would be useful

[2020-02-04 18:46] jeffhoyo opened #35 "Is there a way to increase returned results past 200 entries?"
It appears when running Get-AzSentinelIncident, it only returns the last 200 results, whether they are open or closed. We were not able to find a limit in the AzSentinel.psm1 code for the function.

It would be nice to increase or set a time frame in the script an increase results past 200 returned cases.

[2020-02-07 12:44] pkhabazi commented on #34
hi @sbroosnokia thanks for your feedback, this is actually already implemented in all the functions, you can use "-Confirm:$false" switch to skip the confirm question. please let me know if this is not working for you.

[2020-02-07 12:46] sbroosnokia commented on #34
Ah thanks! I misinterpreted this flag. I thought it always forced confirmation, even if nothing was changed. Issue can be closed

[2020-02-07 12:46] #34 closed

[2020-02-07 16:09] pkhabazi commented on #28
Just wanted to let you know that I am still working to implement support for playbook, hopefully finishing up in upcoming days:
![image](https://user-images.githubusercontent.com/20944041/74045124-844cc080-49cc-11ea-9d1e-cbbfa943a816.png)

[2020-02-12 20:06] pkhabazi opened #36 "Feature Request: Update Incident function"
# Summary of the new feature/enhancement

New function which can be used to updated existing incidents, list of properties:
* update status
* close incident with argument
* add comment
* add owner

Please let me know which other properties need to be covered

[2020-02-12 23:43] lunchbox-rcl opened #38 "Time Format conflict"
# Environment
[code]

# Steps to reproduce

1. Get a singular analytic rule and store it as a PSCustomObject (Ex: `$rule = Get-AzSentinelAlertRule -RuleName $ruleName`)
2. Run `New-AzSentinelAlertRule -Severity $rule.severity -Query $rule.query -QueryFrequency $rule.queryFrequency -QueryPeriod $rule.queryPeriod -TriggerOperator $rule.triggerOperator -TriggerThreshold $rule.triggerThreshold -Suppre

[2020-02-13 09:18] pkhabazi commented on #38
hi @lunchbox-rcl thanks for your feedback, this is a known bug and is already solved in the version available in development branch. The issue is that in the past I added "PT" static in de class definition, and if you do a Get and New you get double PTPT. please let me know if you are able to test the version in development branch.

[2020-02-14 18:20] lunchbox-rcl commented on #38
@pkhabazi - Awesome.  Thanks.  I can't test on this machine.  I'll try to get it on another box.

[2020-02-20 19:10] #36 closed

[2020-02-24 13:49] #38 closed

[2020-02-24 13:58] pkhabazi commented on #27
this is solved in version 0.6.2 which is currently available in the PowerShell gallery

[2020-02-24 13:58] #27 closed

[2020-02-24 14:02] pkhabazi commented on #28
@sbroosnokia this feature is now available in version 0.6.2

[2020-02-24 15:52] sbroosnokia opened #42 "SubscriptionId parameter not taken into account correctly in New-AzSentinelAlertRuleAction"
Hi, Thanks for implementing this functionality.
I notice one issue though: when I specify -SubscriptionId, it does not seem to be taken into account correctly. The AlertRuleAction fails, but points to a different subscriptionId then specified with -SubscriptionId.

Unable to find LogicApp <redacted-out> under Subscription Id: <redacted-out>
This failure is not pointing to the Subscription Id I spe

[2020-02-24 16:56] pkhabazi commented on #42
hi @sbroosnokia thanks for your feedback. So the logic app and Azure Sentinel are not in the same subscription in your test, is that correct?

[2020-02-24 16:57] #28 closed

[2020-02-25 08:01] sbroosnokia commented on #42
They are in the same subscription, but in a different resourcegroup

[2020-02-25 08:26] pkhabazi commented on #42
Can you send me the command and also the verbose output? And does the function work if you don't specify a subscriptionID or use the JSON layout?

[2020-02-25 10:47] sbroosnokia commented on #42
It also doesn't work when omitting the subscriptionId. I did not try the JSON layout. Logs have been redacted and shared over mail

[2020-02-25 11:43] pkhabazi commented on #42
Thanks for the great feedback. Founded the problem and created a pr for the solution.. will merged in coming days and release a new version

[2020-02-25 13:16] sbroosnokia commented on #42
Hi, Thanks for the swift reply. That pull request seems to fix it. I could use the module to attach a playbook to my rule.

[2020-02-28 09:53] sbroosnokia opened #47 "Logic apps configured using the playbookName parameter not getting triggered"
Hi,
This behavior is hard to describe but it seems that logic apps that get configured via powershell do not get triggered correctly.

- If I configure a logic app via Gui, everything is fine and it will get triggered by alerts
- If I configure it using the playbookName paramter, it appears in Gui to be set correct (it is selected in the automation tab). But the playbook does not get triggered on

[2020-03-04 19:10] SamantJaitli opened #48 "Cannot validate argument on parameter "Property""
Trying to run a script>
Get-AzSentinelHuntingRule -SubscriptionId $Subscription -WorkspaceName $Workspace

But getting the error everytime : Unable to get hunting rules with error code: Cannot validate argument on parameter "Property". The argument is null or empty.

If WorkspaceName is the only required parameter why is it showing this error?

[2020-03-05 12:55] pkhabazi commented on #47
hi @sbroosnokia thanks for the feedback. sorry for the delay I have been very bussie the last couple of days. I have found the problem in the AzSentinel module, will try to fix it in coming days.
**problem description:** to be able to call the logicApp you need to provide a sas key, when building up the uri I have made a mistake in getting the sas key.

[2020-03-11 22:16] pkhabazi commented on #48
hi @SamantJaitli thanks for your feedback. this is indeed a bug and I have created a pr which will solve this issue.

[2020-03-11 22:20] pkhabazi commented on #35
hi @jeffhoyo thanks for your reply, I will add a switch -all that you can use to pull all the incidents, I am also working to add some additional filter options like, only opened incident, closed, time range etc. in the feature  release. please let me know if you have some filter ideas.

[2020-03-15 14:47] pkhabazi opened #53 "Bug Report - new-azsentinelalertrule missing playbook property"
New-AzSentinelAlertRule throws the error that playbook property is missing if no playbook configured is for a new rule, for existing rule there is no error

[2020-03-16 07:47] #53 closed

[2020-03-26 16:56] garfield-p opened #54 "Get Sentinel Incidents"
# Expected behavior

To get a list with all open incidents.

To get all Incidnets from Sentinel

# Actual behavior

ConvertFrom-Json: C:\Users\A002633\Documents\PowerShell\Modules\AzSentinel\0.6.2\AzSentinel.psm1:810
Line |
 810 |                  ($incident.Content | ConvertFrom-Json).value | ForEac …
     |                                       ~~~~~~~~~~~~~~~~
     | Cannot bind argument to par

[2020-03-26 20:06] pkhabazi commented on #54
thanks for your feedback, this bug is already covered in issue #48.
I am currently working to release a new version where this bug is solved.

[2020-03-26 20:27] #35 closed

[2020-03-26 20:27] #42 closed

[2020-03-26 20:27] #47 closed

[2020-03-26 20:27] #48 closed

[2020-03-26 20:27] #54 closed

[2020-03-28 11:46] pkhabazi opened #55 "New-AzSentinelAlertRule - add support for all alert rule types"
# Summary of the new feature/enhancement

New-AzSentinelAlertRule at the moment only supports Scheduled rules, update New-AzSentinelAlertRule to include all the rule types available :
- Scheduled
- Fusion
- MicrosoftSecurityIncidentCreation
- MLBehaviorAnalytics

# Proposed technical implementation details (optional)

[2020-03-30 16:25] jaroslavkozak opened #57 "Alert Aggregation"
# Summary of the new feature/enhancement

**_Enhancement / Question_**

Is there ETA for setting Alert Aggregation using New-AZSentinelAlertRule or Import-AzSentinelAlertRule?

[2020-03-31 21:35] kay07949 opened #58 "Import YAML Files"
Hi,

i tried to import the YAML files from the Sentinel Github using the Import-AzSentinel command, however this failed without any error messages.

https://github.com/Azure/Azure-Sentinel/tree/master/Detections - ideally i wanted to deploy quiet a few of these alert rules via YML files.

[2020-04-06 15:49] secure0 opened #60 "Feature Request"
How can we set the following parameters for a Sentinel alert rule ( type scheduled) using AZSentinel module ?

1) incidentConfiguration     (i.e CreateIncident = True)

2) queryResultsAggregationSettings

[2020-04-09 11:27] pkhabazi commented on #58
@kay07949 thanks for the feedback, can you share your error message with us?

[2020-04-09 11:29] pkhabazi commented on #32
hi @sbroosnokia , pemontto has proposed a solution for your request. solution looks to work good. Will merge and release it in upcoming days.

[2020-04-09 12:15] pemontto commented on #58
@kay07949 try running with the -Verbose flag to see why it's failing. E.g.

[code]

[2020-04-09 14:26] pkhabazi commented on #58
It is time related and is fixed with your proposed pr, great work @pemontto
[code]

[2020-04-09 14:33] pkhabazi commented on #57
Thanks for the feedback, it's on my backlog. I hope that we can have at least part of it finished next week.

[2020-04-14 03:31] jaroslavkozak opened #62 "Enabling Sentinel Connectors using PowerShell"
Enhancement

Is there ETA for enabling Sentinel Connectors using PowerShell?

Active Directory Connectors
ATP Connectors
Office 365

[2020-04-20 07:24] #58 closed

[2020-04-20 07:30] #32 closed

[2020-04-20 18:29] kay07949 opened #64 "Enable Alert Rules from Templates"
I think a useful feature would be a command let to enable the a rule templates, this feature would be useful if someone is required to enable it across multiple sentinel workspaces

[2020-04-23 11:10] pkhabazi commented on #64
hi @kay07949, have you tried using the enabled property in the JSON format, or do you prefer a separate enable/disable-AzSentinelAlertrule command?
[code]

[2020-04-23 11:38] kay07949 commented on #64
I will give that a try thanks, so I populate the display name with the rule template name in json and enable ?

I think it will be ideal to have a command in powershell to enable the rule templates without json files, that way we can have a text file with all the alert rules we want to enable in our devops pipeline and enable disable to all the environments.

[2020-04-26 21:41] john-joyner opened #66 "Bug Report: get-AzSentinelAlertRule returns playbookName InvalidOperation"
# Environment

Windows build number: Microsoft Windows [Version 10.0.18363.778]
PowerShell version (if applicable): PowerShell 7 x64

# Steps to reproduce

install-module -Name AzSentinel
Connect-AzAccount
Set-AzContext -Subscription <SubID> -Tenant <TenantIT>
get-AzSentinelAlertRule -WorkspaceName "<workspace>"

# Expected behavior

Would expect the playbookName field would be populated for rules

[2020-04-27 09:35] cp-sc-source opened #67 "AzSentinel commandlets should support PowerShell minimum version 5.0"
# Summary of the new feature/enhancement

# Proposed technical implementation details (optional)

[2020-04-27 09:37] cp-sc-source commented on #67
AzSentinel commandlets should support PowerShell minimum version 5.0

[2020-04-27 23:40] kay07949 commented on #64
i've tried using the json file below and it didnt work:

`{
  "analytics": [
{
        "displayName": "Brute force attack against Azure Portal",
        "description": "Test",
        "enabled": true
]
}
`

[2020-04-28 07:43] pkhabazi commented on #66
hi @john-joyner can you run the command with -verbose switch and share the output? Also try running the command below:
[code]

[2020-04-28 08:34] john-joyner commented on #66
I tell you what, if I run the command with a rule name specified there is no error and the correct playbookName is returned.

The error only happens when you run with no rule specified, trying to list all the playbooks in one result.

John

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Pouyan Khabazi<mailto:notifications@github.com>
Sent: Tuesday, April 28, 2

[2020-04-29 18:44] pkhabazi opened #70 "Add support for resource providers when using "set-azsentinel"Feature Request"
When enabling Azure Sentinel test to see if the required resource providers are installed. if not try to activate the required resource providers

[2020-05-04 08:12] pkhabazi commented on #67
hi @cp-sc-source thanks for your feedback. Is there a specific scenario where you don't have access to PowerShell 6.2 or higher? very curious about your scenario.

[2020-05-04 08:18] pkhabazi commented on #57
To give you a status update, I have the alert aggregation with all the properties working in the current PR. unfortunately I am having some issues with the compare functionality which breaks due to the multiple layers. you can import the module from this branch manually if you need this functionality asap and ignore the compare result.

[2020-05-04 08:19] pkhabazi commented on #60
To give you a status update, I have the alert aggregation with all the properties working in the current PR. unfortunately I am having some issues with the compare functionality which breaks due to the multiple layers. you can import the module from this branch manually if you need this functionality asap and ignore the compare result.

[2020-05-04 08:25] pkhabazi commented on #66
hi @john-joyner I have tested this multiple time and wasn't able to reproduce your error. can you please share your verbose log with me? I hope that we can find the rule that is breaking the function in the verbose output. you can share the output through mail f you don't want to share it here. (remember to remove sub id etc when sharing)
[code]

[2020-05-04 16:17] cp-sc-source commented on #67
Hi @pkhabazi - Powershell 5.x is still good and not old enough to drop its backward compatibility with  AzSentinel command lets.  Most customers dont want to upgrade not should we be asking them. Hope to see commandlets supporting minimum ps 5x version.

[2020-05-07 09:03] MathiasVandePol opened #73 "Bug Report: FusionBuiltIn Rule missing TriggerOperator"
# Steps to reproduce

I've used the command ```Get-AzSentinelAlertRule``` to export all alert rules to a JSON.
Now I want to import these Rule in another workspace and I experience the below issue.
# Expected behavior

An exported rule should be imported flawlessly

# Actual behavior

There is an error while Creating a new AlertProp object, causing an empty body to be sent.

[2020-05-07 09:46] MathiasVandePol opened #74 "Feature Request: Optimise Rule checking in Import-AzSentinelAlertRule"
# Summary of the new feature/enhancement

I want to use this commandlet to import a couple of hundred rules from one workspace to another.

1. Currently the command will iterate accross all rules in an array and do a separate API call for every rule in that array to see if it already exists or not. You could optimise this by providing your own command Get-AzSentinelAlertRule with an array of Rulen

[2020-05-13 07:13] cybermiu2 opened #75 "Bug Report - Get-AzSentinelHuntingRule"
# Environment

Powershell 7.0, Az 3.8.0, Yaml 0.4.2

# Steps to reproduce

 Get-AzSentinelHuntingRule -WorkspaceName \<workspace name\>

# Expected behavior

Based on the material, the expected behavior is to return the hunting rules configured

# Actual behavior

It is returning me the list of queries under query explorer

[2020-05-19 15:14] cp-sc-source commented on #67
@pkhabazi - Are you planning to extend this module to support powershell verion 5.x ?

[2020-05-20 10:55] kay07949 commented on #57
Will this be finalised anytime soon?

[2020-05-20 13:56] kay07949 commented on #57
will this be finalised any time soon?

[2020-05-28 17:08] kay07949 opened #76 "Deploy Query Parsers using PowerShell"
We need a cmdlet to allow us to deploy query Parsers. At the moment we save these parsers under query explorer and we save it as a function. It will be ideal if we can automate the deployments.

[2020-06-18 00:40] fbinotto opened #79 "Guidance - Next Release and imported rules"
First of all, thanks so much for this module as it is extremely useful.

Any idea when the new release is coming out?

Also, when I use the Import-AzSentinelAlertRule to import one of the Template rules, the templates are not flagged as IN USE as they would if you created a new rule based on the template directly from the Azure portal.

![image](https://user-images.githubusercontent.com/17077662/8

[2020-06-24 08:35] dagefjestad opened #80 "Needed RBAC roles to create additional alert types"
We created a SP with Contributor rigths and Azure Sentinel Contributor rights.

When we use the SP to create alter rules of type Fusion or MicrosoftSecurityIncidentCreation or MLBehaviorAnalyticswe we get the following error:
Unable to invoke webrequest with error message: The client '****' with object id '***' does not have authorization to perform action 'Microsoft.SecurityInsights/alertRules/wr

[2020-06-25 20:45] temores commented on #66
Hi,

I found the same issue but only when I tried to export as csv

Get-AzSentinelAlertRule -WorkspaceName "xxxxxx"  -verbose | Export-Csv .\test.csv

VERBOSE: received 594-byte response of content type application/json
VERBOSE: Content encoding: utf-8
InvalidOperation: E:\OneDrive\Documents\PowerShell\Modules\AzSentinel\0.6.4\AzSentinel.psm1:506
Line |
 506 |  …             $playbookName = ($play

[2020-06-29 15:17] #29 closed

[2020-06-29 15:17] #57 closed

[2020-06-29 15:17] #60 closed

[2020-06-29 15:17] #64 closed

[2020-06-29 15:17] #70 closed

[2020-07-01 23:13] kay07949 opened #82 "-createincident and Alert Grouping doesnt work upon updating"
I have tested new parameters for -createincident -groupingconfigurationenabled -entitiesmappingmethod .... under the New-AzsentinelAlertRule

They all work when creating a new rule however they dont appear to work when updating the rules. Example after I created the rule and set the -createincident to True, and then I update it to False. This doesnt update the alert rule in Sentinel.

[2020-07-01 23:24] kay07949 commented on #82
Hi,

I just rested on a different laptop and realised it was my browser cache.  There are no issues, this is fully functional.

[2020-07-02 22:26] #82 closed

[2020-07-02 22:26] kay07949 commented on #82
this is functional

[2020-07-08 23:46] spartan117au opened #83 "Feature Request - Get Sentinel Incidents in a specified timeframe"
# Summary of the new feature/enhancement

It would be really handy to be able to retrieve all the incidents that took place in a timeframe, and be able to pass through a date/time range.

[2020-07-23 11:11] pemontto opened #84 "Unable to use Disable-AzSentinelAlertRule or Enable-AzSentinelAlertRule"
# Environment

[code]

# Steps to reproduce

Attempt to disable a scheduled rule that is currently enabled.

[code]

# Expected behavior

The rule gets disabled.

# Actual behavior

The command produces errors when, I'm guessing, it tries to build the Scheduled Alert rule object:

[code]

[2020-07-23 13:14] pemontto commented on #84
Hoping this was a simple one, but changing `AlertProp` to `ScheduledAlertProp` didn't fix it. The `$rule` object properties are seemingly treated as a single argument to the constructor rather than the individual key/values.

[AzSentinel/Public/Disable-AzSentinelAlertRule.ps1:63-65](https://github.com/wortell/AZSentinel/blob/52500c7921be40c3fe99bffede64e19da6bc0c8d/AzSentinel/Public/Disable-AzSent

[2020-08-05 13:52] akapv opened #85 "Not able to import rules"
Hello Folks!
Any ideas about what´s causing this?

PS C:\Windows\System32> Set-AzSentinel -WorkspaceName "WorkpaceBlah"
Azure Sentinel is already enabled on WorkpaceBlah and status is: OK

PS C:\Windows\System32> Import-AzSentinelAlertRule -WorkspaceName "WorkpaceBlah" -SettingsFile C:\temp\sentinel_attack_rules.json
Import-AzSentinelAlertRule: Unable to connect to APi to get Analytic rules with m

[2020-08-06 01:16] nconder opened #86 "Azure Government"
Is Azure Government supported? I am 100% confident that the subscription and workspace exists.

`Get-AzSentinelAlertRule -WorkspaceName "XXXXX" -Verbose
VERBOSE: Getting Worspace from Subscription XXXXXX-XXXXXXX-XXXXXX
VERBOSE: GET https://management.azure.com/subscriptions/XXXXXX-XXXXXXX-XXXXXX/providers/Microsoft.OperationalInsights/workspaces?api-version=2015-11-01-preview with 0-byte payload
V

[2020-08-07 20:22] latortuga71 commented on #86
@nconder i was able to get it to work for a little bit by using sed, to swap out all the api endpoints to the gov equivalent. but then my token would not refresh not sure why. On another note is it possible to limit the requests (via a filter ?)brought back when using Get-AzSentinelIncident?

[2020-08-28 17:56] jholtmann opened #89 "Update-AzSentinelIncident deletes various incident properties"
# Environment

[code]

# Steps to reproduce

Run `Update-AzSentinelIncident` to update an existing incident

# Expected behavior

Ticket with matching incident number has properties provided to cmdlet updated. Properties not provided are not altered.

# Actual behavior

Available cmdlet properties work correctly, but the following incident properties are irreversibly deleted:
- TotalComments
- Met

[2020-08-28 17:59] jholtmann commented on #89
Ran into this issue when testing the cmdlet on some test incidents. I was lucky that I did not need these incidents, as lots of data was lost after the update. This is a fairly easy fix, since all the missing parameters are retrieved by `Get-AzSentinelIncident` and can be passed to the API PUT.

If this functionality is not intentional, please let me know and I can submit a pull request with a fix

[2020-09-03 16:47] pkhabazi commented on #79
hi @fbinotto thanks for your feedback. Is the print screen from the "Relevant analytic templates" in the DataConnecter settings?
From what I can see this windows is updated and doesn't contain the "in use" flag anymore.

For now I will close this issue, please feel free to open the issue if it's still applicable.

kr,
Pouyan

[2020-09-03 16:47] #79 closed

[2020-09-03 16:58] pkhabazi commented on #89
hi @jholtmann thanks for your great feedback! I have tested the described issue and the properties mentioned are getting deleted indeed. Please feel free to create a PR if you already have a working fix!

[2020-09-03 17:02] pkhabazi commented on #66
hi @temores thanks for your feedback! Can you please share your verbose output. I am not able to reproduce this issue in my own environment. kr, Pouyan

[2020-09-03 17:33] pkhabazi commented on #74
hi @MathiasVandePol thanks for the great feedback and sorry for late response! Just updated the import function to first get all the rules instead of in the for each loop. Great performance boost. The second point is an interesting idea, I haven't thought about it before and haven't heard it before from the community. So basically you would like to have a flag for skipping the whole playbook confi

[2020-09-03 17:37] pkhabazi commented on #85
hi @akapv thanks for creating an issue. This issue is often related to a wrong template layout. [here ](https://github.com/wortell/AZSentinel/blob/master/examples/AlertRules.json)you can find an example file

please let me know if this solves your issue.

[2020-09-03 20:42] #15 closed

[2020-09-03 20:56] pkhabazi commented on #67
@cp-sc-source sorry for the late response, I have being testing and trying to make AzSentinel available on Windows PowerShell. you can follow the work [here](https://github.com/wortell/AZSentinel/tree/feature/WindowsPowerShell).
Unfortunately there are a couple of problems that aren't easy to solve at the moment. mostly related on how I use and convert the data. So, for now I have decided not to s

[2020-09-03 20:56] #67 closed

[2020-09-04 09:51] kay07949 commented on #76
I have created a script to do this using set-azoperationalinsightssavedsearch

[2020-09-07 15:45] darvid opened #93 "Get and remove Hunting Rules broken"
# Environment

[code]

# Steps to reproduce

Call `Get-AzSentinelHuntingRule` or `Remove-AzSentinelHuntingRule`  with `-RuleName` set to the display name of an existing hunting rule.

# Expected behavior

Get should return filtered hunting rules, and remove should remove the filtered hunting rules.

# Actual behavior

After debugging the underlying API requests, it seems like Azure is returning a

[2020-09-11 09:39] MathiasVandePol commented on #74
Yep indeed.

[2020-09-15 20:35] Castaldio86 commented on #85
@akapv I had the same issue when I didn't export with ... | ConvertTo-Json | Out-File ...

[2020-09-18 13:42] pkhabazi commented on #73
hi @MathiasVandePol, I don't see the "triggeroperater" as an property of the Fusion rule:

[code]

[2020-09-21 15:06] #55 closed

[2020-09-21 15:06] #74 closed

[2020-09-21 15:06] #89 closed

[2020-09-22 05:28] sunilkhuttan opened #97 "Alert rule creation failed with message: Unable to initiate class with error: Cannot find an overload"
# Environment

I am using Azure DevOps to deploy Azure components (https://techcommunity.microsoft.com/t5/azure-sentinel/deploying-and-managing-azure-sentinel-as-code/ba-p/1131928)

Any other software?
[code]

[2020-09-22 07:18] pkhabazi commented on #97
@sunilkhuttan thanks for reporting this, this is often related to the fact that the JOSN template doesn't contain all the properties. can you share your template for further support. can you also share which version of AzSentinel you are using currently?

[2020-09-22 08:06] sunilkhuttan commented on #97
@pkhabazi thanks for replying. I am using AzSentinel version 0.6.6. The script was working fine till yesterday (around 20 hours ago), there was no issue . I am invoking the method as follow
New-AzSentinelAlertRule -WorkspaceName $Workspace -DisplayName $rule.displayName -Description $rule.description -Severity $rule.severity -Enabled $rule.enabled -Query $rule.query -QueryFrequency $rule.queryFreq

[2020-09-22 08:07] sunilkhuttan commented on #97
This is the json I am passing
{
      "severity": "High",
      "query": "let detectionTime = 1d;\nlet joinLookback = 14d;\nAuditLogs\n| where TimeGenerated > ago(detectionTime)\n| where LoggedByService =~ \"Core Directory\"\n| where Category =~ \"ApplicationManagement\"\n| where OperationName =~ \"Consent to application\"\n| where TargetResources has \"mailboxsettings\"\n| extend AppDisplayName =

[2020-09-22 08:50] pkhabazi commented on #97
Thanks for the input, I released yesterday version 0.6.6. There is probably a change breaking the deployment. I will test this later today.
fastest solution for you at the moment would be following:
open "Scripts/CreateAnalyticsRulesAPI.ps1" and replace line 12 'Install-Module AzSentinel -Scope CurrentUser -Force' with below example
[code]

[2020-09-22 08:52] sunilkhuttan commented on #97
Great, thanks @pkhabazi

[2020-09-22 11:06] pkhabazi commented on #97
@sunilkhuttan can you also try using the Import-AzSentinelAlertRule function instead of New-AzSentinelAlertRule

[code]

see [doc](https://github.com/wortell/AZSentinel/blob/master/docs/Import-AzSentinelAlertRule.md)

here you can find an example template file:
https://github.com/wortell/AZSentinel/blob/master/examples/AlertRules.json

[2020-09-22 16:46] kay07949 commented on #97
I am getting the same error my files i am deploying via devops was working fine untill recently

[2020-09-22 17:46] alphaomega0 opened #98 "KQL querry is causing an error in analytics-rules.jason Bug Report"
![image](https://user-images.githubusercontent.com/17535650/93918030-c3205400-fcd9-11ea-92f9-a1478814654e.png)
![image](https://user-images.githubusercontent.com/17535650/93918235-0b3f7680-fcda-11ea-915c-94716fd4ad15.png)

[2020-09-22 20:41] #97 closed

[2020-09-22 20:48] pkhabazi commented on #97
hi @sunilkhuttan , just release version 0.6.7 where the bug should be solved. thanks for your feedback! kr Pouyan

[2020-09-24 09:13] pemontto opened #101 "Get-AzSentinelAlertRuleAction doesn't return playbookName in 0.6.6"
# Environment

[code]

# Steps to reproduce

Try to fetch a rule or multiple rules with Get-AzSentinelAlertRule.

# Expected behavior

Rules are fetched with playbook name/information

# Actual behavior

The playbook name does not get retrieved and errors are encountered pulling down multiple rules at once.

[code]

[2020-09-24 12:52] pkhabazi commented on #101
hi @pemontto thanks for your feedback! I have a fix ready for the issue described by you. I will release the fix tonight!

[2020-09-24 13:02] pemontto commented on #101
Thanks as always, great work!

[2020-09-24 19:43] pkhabazi commented on #93
hi @darvid thanks for your great detailed feedback! I have added the -Filter option that you can use to only get "Custom Queries" for example. Also fixed the response from the API and updated the remove function. proposed fixes will be released in next version! Please let me now if you are still missing feature. Kr Pouyan

[2020-09-24 19:47] pkhabazi commented on #75
hi @cybermiu2 thanks for your feedback! you can use the filter option to only get the hunting rules configured

[code]

[2020-09-24 20:05] #75 closed

[2020-09-24 20:05] #93 closed

[2020-09-24 20:05] #101 closed

[2020-09-25 07:12] pkhabazi commented on #98
hi @alphaomega0 can you share your JSON file so that I can take a better look

[2020-09-25 13:28] pemontto commented on #98
@alphaomega0 it looks like your `query` field is unescaped. It has newlines characters in it which aren't valid JSON. The line starting `"query": "let starttime =14d;` should continue with escaped newlines characters `\n` instead of actual newlines.

[2020-10-02 10:02] kay07949 opened #108 "acceptable values for -aggregrationkind in new-azsentinelalertrule"
what are the acceptable values for -aggregrationkind available in new-azsentinelalertrule, I need to know asap!

[2020-10-02 12:01] #76 closed

[2020-10-02 14:35] Cyb3r-Monk opened #109 "Feature Request: Abilitiy to save a scheduled rule into a json file that is compatible with AzSentinel schema"
The schema requires the scheduled rule to be enclosed in  `{  "Scheduled": [ ... ] }`. when using Get-AzSentinelAlertRule, it is possible to convert the content into JSON but the  `{  "Scheduled": [ ... ] }` is missing. It would be nice to have an option for downloading a scheduled rule in a JSON format that is compatible to the AzSentinel schema. In addition, if the function can remove some attri

[2020-10-05 10:54] pkhabazi commented on #108
see docs: https://github.com/wortell/AZSentinel#scheduled-property-values

[2020-10-05 10:54] #108 closed

[2020-10-05 12:16] kay07949 opened #110 "-AggregationKind on New-AzSentinelAlertRule not working"
The -AggregationKind feature available on cmdlet, New-AzSentinelAlertRule, do not appear to work. I have tried both values "AlertPerRow" and "SingleAlert" and this doesn't change the default configuration for the event grouping.

[2020-10-05 19:50] pkhabazi commented on #109
Thanks for your feedback @Cyb3r-Monk! I am currently working on a export function, will try to include it in the next release.

[2020-10-05 19:52] pkhabazi commented on #98
hi @alphaomega0 have you tried the feedback proposed by @pemontto? and can you please let us know if you need more help with this issue? kr Pouyan

[2020-10-05 19:57] #110 closed

[2020-10-06 09:40] Edi-Lahav opened #113 ""requiredDataConnectors" not populating"
# Summary of the new feature/enhancement
When using the Get-AzSentinelAlertRuleTemplates the requiredDataConnectors output parameter.
It can be useful also to add it as an Input parameter to filter alert templates by the Data Connectors.

# Proposed technical implementation details (optional)
When trying the Alert Rule Template GET - the response includes this output parameter. It'll be great to h

[2020-10-06 13:31] javiersoriano opened #114 "New-AzSentinelHuntingRule cmdlet fails when updating rule"
When using New-AzSentinelHuntingRule to update an existing Hunting Rule, command fails with following error:

InvalidOperation: C:\Users\jasorian\Documents\PowerShell\Modules\AzSentinel\0.6.9\AzSentinel.psm1:1278
Line |
1278 |              $compareResult = [PSCustomObject]$compareResult1 + [PSCus …
     |              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Method invocati

[2020-10-06 20:36] PatrickGallucci opened #115 "Bug Report Install-Package The following commands are already available on this system:'Login-AzAccount'..."
# Environment

[code]
Current Azure Az modules.

# Steps to reproduce
Install-Module AzSentinel -Scope CurrentUser -Force

# Expected behavior

# Actual behavior

Install-Module AzSentinel -Scope CurrentUser -Force                                                                                                                        PackageManagement\Install-Package : The following commands are alr

[2020-10-08 19:35] pkhabazi commented on #115
hi @PatrickGallucci I think you have already an "older" version of Az.Accounts installed. Please try  updating Az.Accounts by running (I think you need to run it  with "run as administrator"):
[code]
or try by installing it with Allowclobber
[code]

[2020-10-08 20:14] #17 closed

[2020-10-08 20:14] #62 closed

[2020-10-09 07:07] javiersoriano commented on #114
I'm using the same command you are using (I'm using 0.6.9). Get works fine, but updating fails:

`PS C:\Users\jasorian> Get-AzSentinelHuntingRule -WorkspaceName sorisentinel -RuleName HuntingRule01

Category    : Hunting Queries
DisplayName : HuntingRule01
Query       : SecurityEvent | where EventID == "4688" | where CommandLine contains "-noni -ep bypass $"
Tags        : {@{Name=description; Valu

[2020-10-13 12:05] javiersoriano commented on #109
+1, this would be great!

[2020-10-15 14:35] rleal124 commented on #84
I am cross the same situation. I am sure works before last commit.
Do have some workaround?

[2020-10-16 13:23] pemontto commented on #84
I haven't been able to get this working either. Currently on 0.6.10

[code]

[code]

[code]

[2020-10-16 13:35] rleal124 commented on #84
@pemontto I know works before, because I running a script last week and works well. Yesterday i starting have the issues with disable the AlertRule

[2020-10-16 13:37] pemontto commented on #84
For now you can have a look at your previous versions and rollback to a version that works

[code]

Rollback
[code]

[2020-10-16 13:56] rleal124 commented on #84
I am try using the 0.6.10, 0.6.8 and 0.6.5 and I still have same error.

Disable-AzSentinelAlertRule -SubscriptionId $SubscriptionId -WorkspaceName $WorkspaceName -RuleName $RuleName

InvalidOperation: C:\Users\user\Documents\PowerShell\Modules\AzSentinel\0.6.5\AzSentinel.psm1:644
Line |
 644 |                  $bodyAlertProp = [AlertProp]::new(
     |                                   ~~~~~~~~~~~

[2020-10-16 14:25] pkhabazi commented on #84
@rleal124 thanks for the feedback, I see what's broken. Already fixed the issue for disable and enable function. Will merge this.

[2020-10-16 14:27] rleal124 commented on #84
@pkhabazi Thanks for your feedback.

[2020-10-16 14:35] #84 closed

[2020-10-16 14:41] pkhabazi commented on #84
@pemontto and @rleal124 please update to version 0.6.11, problem should be fixed in this version

[2020-10-16 14:46] rleal124 commented on #84
@pkhabazi Thanks, I tested now and works well. Many thanks for your support.

[2020-10-20 09:46] pkhabazi opened #120 "change to enum and convert to string array"
https://github.com/wortell/AZSentinel/blob/0968283160e49868b2cac44d4ad19f08834b92ea/AzSentinel/Public/New-AzSentinelAlertRule.ps1#L162

[2020-10-20 09:56] pkhabazi commented on #113
hi @Edi-Lahav, thanks for the feedback. the property is there but currently a little bit hidden :p I am working to update the output.

For now you can access the requiredDataConnectors by running the following, the below example will return the displayname and requiredDataConnectors for all the templaterules:
[code]

[2020-10-20 11:31] pkhabazi commented on #113
example of new output:
![image](https://user-images.githubusercontent.com/20944041/96580442-92333f00-12d8-11eb-8a71-38ccfc0e5c2c.png)

[2020-10-20 11:36] pkhabazi commented on #98
closing this issue, please feel free open a new issue if you are still having problem importing  Alert rules

[2020-10-20 11:36] #98 closed

[2020-10-20 11:39] pkhabazi commented on #83
hi @spartan117au thanks for the feedback! I think this is a good idea. I will see if someone likes to work on this request.

[2020-10-20 14:44] pkhabazi opened #123 "Remove the If statement"
Removing If statement, is not needed anymore. https://github.com/wortell/AZSentinel/blob/0968283160e49868b2cac44d4ad19f08834b92ea/AzSentinel/Public/Get-AzSentinelAlertRule.ps1#L143

[2020-10-20 17:12] bgelens commented on #83
@pkhabazi the function Get-AzSentinelIncident is using a deprecated preview api. We could expand the function by adding [ODataFilter parameter](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json#L2761). Alternatively we could update the api used make use of the [new st

[2020-10-20 23:48] cac0ns3c opened #124 "Import-AzSentinelAlertRule failes with 400 status code if the query isn't one-liner"
**In raising this issue, I confirm the following:**

- [v] I have read and understood the [contributors guide](.\CONTRIBUTING.md).
- [v] The issue I am reporting can be *replicated*.
- [v] The issue I am reporting isn't a duplicate (see [FAQs](##/wiki/FAQs), [closed issues](https://github.com/wortell/AZSentinel/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed), and [open issues](https://github.com/w

[2020-10-21 16:05] pkhabazi commented on #83
Thanks for the update @bgelens, @kay07949 is currently working on this issue. Please see if you can help each other to solve the issue

[2020-10-21 16:09] pkhabazi commented on #115
@PatrickGallucci can we close this issue or do you need more support?

[2020-10-21 16:28] bgelens commented on #83
@kay07949 If you need any help, lmk :)

[2020-10-21 19:05] #109 closed

[2020-10-21 19:05] #113 closed

[2020-10-21 19:05] #120 closed

[2020-10-21 19:05] #123 closed

[2020-10-22 09:07] pkhabazi commented on #124
hi @cac0ns3c I think the issue is more related in the query, the table name should be "SecurityEvent" instead of "SecurityEvent**s**"

try the below example:
[code]

[2020-10-22 09:15] pkhabazi commented on #66
get-azsentinelalert rule function is updated in version 0.6.12 for better error handling, please test to see if this issue is solved. closing the issue for now.

[2020-10-22 09:15] #66 closed

[2020-10-22 15:23] cac0ns3c commented on #124
Sorry, that was a mistake, that was just an example

let's say i have this query:
`let endtime = 1d;
  let starttime = 8d;
  // The threshold below excludes matching on RDP connection computer counts of 5 or more by a given account and IP in a given day.  Change the threshold as needed.
  let threshold = 5;
  SecurityEvent
  | where TimeGenerated >= ago(endtime)
  | where EventID == 4624 and Logon

[2020-10-22 16:35] john-crouch commented on #86
I forked the project and added an ‘Environment’ parameter, supporting logic, and associated comment-based help: [https://github.com/john-crouch/AZSentinel/tree/AzEnvironment](url)

For any of the module's cmdlets, just include -Environment AzureUsGovernment

If this is an acceptable solution I'm happy to submit a PR. @NVolcz @maartengoet @bgelens

[2020-10-22 19:50] john-crouch opened #128 "Access token expiration logic"
# Environment

[code]

# Steps to reproduce

Run any cmdlet included in the module after a valid access token has been acquired and subsequently expired.

# Expected behavior

precheck.ps1 should call Get-AuthToken which should determine that that access token has expired, then acquire a new access token.

# Actual behavior

prescheck.ps1 incorrectly identifies the token as being valid and does no

[2020-10-30 13:10] kay07949 opened #129 "Install-Module AzSentinel Not Working"
there is an issue with Install-Module AzSentinel -Scope CurrentUser -Force, It produces the error below:

Install-Package: C:\program files\powershell\7\Modules\PowerShellGet\PSModule.psm1:9709
Line |
9709 |  … talledPackages = PackageManagement\Install-Package @PSBoundParameters
     |                     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | No match was found for the speci

[2020-10-30 13:27] bgelens commented on #129
@kay07949 The PowerShell Gallery is having an outage at the moment. Please try later. Closing this issue as cause is external

[2020-10-30 13:27] #129 closed

[2020-10-30 13:52] kay07949 commented on #129
thanks !

[2020-11-02 10:06] pkhabazi commented on #128
thanks for the great feedback @john-crouch! Will try to test and verify the proposed fix.

[2020-11-02 16:12] rleal124 opened #130 ""DisplayName" already exists. And Cannot validate argument on parameter 'RuleName'."
Hi,

When I try upload a rule I got the following errors, any ideia how can solve the problem or why this problem happen.

Add-Member: C:\Users\<User>\Documents\PowerShell\Modules\AzSentinel\0.6.13\AzSentinel.psm1:2470
Line |
2470 |  …    $rules | Add-Member -MemberType NoteProperty -Name DisplayName -Va …
     |                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Canno

[2020-11-03 08:36] #130 closed

[2020-11-03 08:37] rleal124 commented on #130
Bad rule definition

[2020-11-03 14:14] pkhabazi commented on #128
Tested the proposed solution and works perfect, would you like to create a PR for your proposed fix? thanks in advance for your contributions!

[2020-11-04 13:48] RobertMihai opened #131 "Rename Alert Rule Fails With "Unable to find type [AlertProp]""
# Steps to reproduce

- Install the module and try to trigger a RenameAlertRule with the following command:
`Rename-AzSentinelAlertRule -WorkspaceName "workspace-name" -CurrentRuleName "OldName" -NewRuleName "NewName" -SubscriptionId 00000000-0000-0000-0000-0000000000`

- The error returned is
`Rename-AzSentinelAlertRule: Unable to find type [AlertProp].`

# Expected behavior

Expect to have the a

[2020-11-04 17:07] rleal124 opened #132 "groupingConfiguration error"
When I upload a analytic rule to sentinel I want to disable the grouping configuration.

the following stanza following the documentation should be work and disable the grouping configuration, But the not have effect and the grouping configuration still happened enable. Can please help me?
  groupingConfiguration:
    GroupingConfigurationEnabled: false
    reopenClosedIncident: false
    lookback

[2020-11-04 21:34] rleal124 commented on #132
I find the issue: On file AzSentinel.psm1 on function Import-AzSentinelAlertRule, the line
$this.enabled = if ($null -ne $Enabled ) { $Enabled } else { $true }, is not correct.

Because, will enable, or set to true the groupingConfiguration.
I change the line to
$this.enabled = if ($null -ne $Enabled ) { $Enabled } else { $false }

And now I can set to true or false groupingConfiguration

[2020-11-05 11:37] pemontto commented on #132
Confirmed, seeing the same issue here

[2020-11-05 11:45] pkhabazi commented on #132
hi @rleal124, thanks for the feedback! So you want to create a scheduled analytic rule where the group configuration is disabled. I think there are two issues here. The first issue is indeed in the If statement. Because now if the value/property is not set then Group configuration will be enabled by default (which should not be the default).
Second issue is, I think, in your template file. Because

[2020-11-05 11:55] pemontto commented on #132
@pkhabazi ahh that did get me, I was trying to use a rule I'd downloaded with `Get-AzSentinelAlertRule` and realised now that the schemas are completely different. It puts the `groupingConfiguration` under `incidentConfiguration`.

[code]

[2020-11-05 11:56] rleal124 commented on #132
@pkhabazi Hi, Thanks for your feedback. I used the same template for tests, Also I using one in JSON format and other for YAML format.

In below my format in json:
{
  "Scheduled": [
    {
      "displayName": "AlertRule01",
      "description": "AlertRule01description",
      "severity": "Medium",
      "enabled": true,
      "query": "SecurityEvent | where EventID == \"4688\" | where CommandLine

[2020-11-05 12:08] pemontto commented on #132
Working for me now, also had to move `aggregationKind` out from `eventGroupingSettings` into the root. Any reason why the schema would be different between the YAML exported and JSON for importing?

[2020-11-05 13:42] pemontto opened #133 "Can't import Fusion rule"
# Environment

[code]

# Steps to reproduce

Import the/a Fusion rule

# Expected behavior

Import succeeds

# Actual behavior

It appears that Sentinel doesn't like the id `BuiltInFusion` which itself uses for the one Fusion rule. This results in an error when trying to import it. Using the example from https://github.com/wortell/AZSentinel/blob/master/examples/AlertRules.json.

[code]

The JSON

[2020-11-05 20:32] cac0ns3c opened #134 "Import-AzSentinelAlertRule bug with lookbackDuration"
Performed the issue on Mac with PS 7.
I was trying to change the lookbackDuration to PT1D but it doesn't take effect, tried also PT1M/PT1H.

`Import-AzSentinelAlertRule -SettingsFile "file.json" -SubscriptionId "***" -WorkspaceName "***"`

The Json file is:

[code]

I'm getting status OK when running the query but nothing changed

[2020-11-05 20:33] #124 closed

[2020-11-05 21:10] #134 closed

[2020-11-06 14:44] pkhabazi commented on #133
thanks for the feedback @pemontto, just tested this on multiple workspaces without any error. Which version of AzSentinel are you using?

What does the command below return:
[code]

[2020-11-06 14:49] pkhabazi commented on #132
That's a good one! I tried to simplify the JSON input format, so I changed the format a little. Maybe a good point to update the output in the same format as input format or the way around.

[2020-11-06 15:48] pemontto commented on #133
The template command works and pulls the ID in the name field, however `Get-AzSentinelAlertRule` returns `BuiltInFusion`. Quite a weird situation, the rule was first created from the template in the GUI. After deleting and recreating the rule, the name is now the correct `f71aba3d-28fb-450b-b192-4e76a83015c8` instead of `BuiltInFusion`. It wasn't possible to overwrite as AzSentinel will use the di

[2020-11-06 16:00] pkhabazi commented on #132
@rleal124 so thus the template that you shared work or not? And which version of AzSentinel are you using?

[2020-11-06 16:01] pemontto commented on #133
Seems to only be the case across some of our newer deployments in the last 2 months

[2020-11-06 16:05] rleal124 commented on #132
Hi,
@pkhabazi yes is working and current I have the last version of AzSentinel installed (0.6.13)

YAML FILE

`Scheduled:
- displayName: AlertRule01
  description: AlertRule01description
  severity: Medium
  enabled: true
  query:  |
    SecurityEvent
    | where EventID == "4688"
    | where CommandLine contains "-noni -ep bypass $"
  queryFrequency: PT5M
  queryPeriod: PT5M
  triggerOperator: Gr

[2020-11-06 16:08] pemontto commented on #132
I guess the pulled structure is truer to the API, and *may* be future proofed if for some reason the names of nested keys overlap, though that seems quite unlikely. I'm happy with either as long as there is consensus.

I've referenced the output schema in the https://github.com/Azure/Azure-Sentinel/issues/585 in the hopes that all rule definitions will be more easily compatible.

[2020-11-09 08:01] NVolcz commented on #86
Not sure why I was mentioned in this issue :-).

[2020-11-10 15:01] #128 closed

[2020-11-10 15:01] #131 closed

[2020-11-10 15:03] pkhabazi commented on #115
no answer received, closing issue

[2020-11-10 15:03] #115 closed

[2020-11-10 15:04] pkhabazi commented on #73
no answer received, closing issue

[2020-11-10 15:04] #73 closed

[2020-11-13 08:55] pkhabazi opened #138 "Add support for Playbook attachment from MSSP tenant"
For scheduled Analytic Rules created in the customer tenant using AzSentinel and a corresponding JSON file, is there any way to attach a playbook that was created in the MSSP tenant and not in the customer tenant? When trying to do so, I get a warning stating: "WARNING: Unable to find LogicApp XYZ under Subscription Id: xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx". After the rules are created, I can manua

[2020-11-13 12:20] cjjnash opened #139 "Bug Report"
# Environment

[code]

# Steps to reproduce

[code]

# Expected behavior

Cmdlet respects context switch and runs on destination workspace

# Actual behavior

Error is received thatworkspace cannot be found, as cmdlet is stuck on source context

[2020-11-13 12:43] pkhabazi commented on #139
hi @cjjnash Thanks for your feedback! This is indeed a bug in the precheck function and will be fixed in the next release.

[2020-11-17 22:04] pkhabazi commented on #133
hi @pemontto thanks for the great feedback. so, after some testing it looks like that there are multiple scenarios where the name property of the fusion rule can be a string value instead of a guid. In the API documentation there is also not specified that this needs to be a guid. I have created a pr for changing the class parameter type to a string. that will fix the issue.

[2020-11-18 21:53] T0pCyber opened #144 "New-AZSentinelAlert "Failed""
# Environment

Commercial E5

PowerShell version (if applicable): 7

# Steps to reproduce

New-AzSentinelAlertRule -SubscriptionId ' ' -WorkspaceName ' ' -DisplayName alert-one -Severity Medium -Enabled $True -Query 'SigninLogs | where UserPrincipalName == "user1@xxxxx.onmicrosoft.com"' -TriggerOperator GreaterThan -TriggerThreshold 1 -LookbackDuration 5H -QueryFrequency 1 -QueryPeriod 5H -Descrip

[2020-11-18 22:01] #144 closed

[2020-11-18 22:01] T0pCyber commented on #144
User error.

[2020-11-19 19:00] #133 closed

[2020-11-19 19:00] #138 closed

[2020-11-19 19:00] #139 closed

[2020-11-20 00:05] kay07949 opened #145 "Bug Report - Alert Rule Creation Failed"
I am getting this error when I attempt to update an alert rule:

Alert rule creation failed with message: Unable to initiate class with error: You cannot call a method
on a null-valued expression.

[2020-11-20 08:09] pkhabazi commented on #145
Hi @kay07949, can you please share the rule that you are trying to create so that I can test this?

[2020-11-20 08:32] acastellano454 commented on #145
I am also now getting this same error when pushing rules that used to succeed either via Azure DevOps pipelines or even directly running the New-AzSentinelAlertRule function within a cloud shell:

New-AzSentinelAlertRule -WorkspaceName "LighthouseCustomer2" -DisplayName "test-rule" -Description "test rule" -Severity "High" -Enabled $False -Query "SecurityEvent | where EventID in (567,4657)" -Query

[2020-11-20 08:59] #145 closed

[2020-11-20 09:01] pkhabazi commented on #145
hi @acastellano454 thanks for the feedback, and example! Just released version 0.6.16 where the issue is fixed. can you please test and verify this?

[2020-11-20 09:30] kay07949 commented on #145
all good now thank you !

[2020-11-27 07:08] deepanshumarwah commented on #27
Hi @pkhabazi
I am trying to import multiple rules with `Import-AzSentinelAlertRule -WorkspaceName #### -SettingsFile .\Rules.json`. However I am receiving this error :
`Import-AzSentinelAlertRule: Unable to initiate class with error: You cannot call a method on a null-valued expression.`

Here is the json format for Rules.json

[code]

[2020-11-30 07:20] lukiffer opened #148 "Excluding `playbookName` from source JSON throws error"
# Environment

[code]

# Steps to reproduce

1. Create a source JSON file excluding the `playbookName` property.
1. Run `Import-AzSentinelAlertRule -SettingsFile "example.json"`

# Expected behavior

The alert rule should be created (or updated).

# Actual behavior

An exception is thrown:
[code]

This appears to be coming from https://github.com/wortell/AZSentinel/blob/master/AzSentinel/Classes/S

[2020-11-30 11:09] deepanshumarwah opened #150 "Folder path case insensitivity is not supported in case sensitive file systems."
Hi Team ,

I was facing this issue in my windows system using wsl ubuntu 18.04 with powershell 7.1. The Import-AzSentinelAlertRule threw error as it was not able to import the relevant dependent enums and classes because of the case sensitive folder names. I updated the folder names and it started working, so please update these.

https://github.com/wortell/AZSentinel/blob/6f867eba19887b4e5bf6e360

[2020-11-30 20:21] nconder commented on #86
I uninstalled the release and tired you fork and I'm still getting 404's. Looks like the domain is still pointing to Azure public API "https://management.azure.com"

Get-AzSentinelAlertRule -SubscriptionId xxxxxxx-xxxx-xxxxx-xxxxx-xxxxxxxxx -WorkspaceName myworkspace -Verbose
VERBOSE: Getting Worspace from Subscription xxxxxxx-xxxx-xxxxx-xxxxx-xxxxxxxxx
VERBOSE: GET **https://management.azure.com*

[2020-12-01 19:39] GeorgeAbouSamra opened #151 "Creating Analytic Rules and attaching Playbooks in MSSP tenant fails the first time, then works the second time"
# Environment

Windows build number: Microsoft Windows [Version 10.0.19041.630]
PowerShell version (if applicable): 7.1.0
Using AzSentinel version: 0.6.16

# Steps to reproduce
Running the following command:

Import-AzSentinelAlertRule -WorkspaceName **WorkspaceName** -SubscriptionId **SubscriptionID** -SettingsFile **"C:\Users\Username\Desktop\TestingAnalyticRules01.json"**

# Expected behavior

[2020-12-01 22:48] nconder commented on #86
@john-crouch, we identified and resolved the problems causing us to continue to point to Azure Public instead of the GOV domains. While not extensively tested we've validated Get-AzSentinelAlertRule and Get-AzSentinelHuntingRule work as expected but that Export-AzSentinel does not appear to be 'Environment' aware as it throws a "Export-AzSentinel: A parameter cannot be found that matches parameter

[2020-12-03 15:26] john-crouch commented on #86
@nconder thanks for the feedback! I've fixed the issue you identified and successfully tested Export-AzSentinel against an Azure gov subscription.

[2020-12-03 20:38] pkhabazi opened #152 "Updat the Entity Enum to include all the new types"
Looks like there are quite a few more entities coming as well - https://github.com/Azure/Azure-Sentinel/blob/9f0fa91b9045d80a01032aa0e164ea701a02f77d/.script/tests/detectionTemplateStructureValidation/Models/EntityType.cs

[code]

[2020-12-03 21:45] pkhabazi commented on #150
Thanks for the report @deepanshumarwah! Good catch, will fix it in the next release!

[2020-12-08 09:15] Jaa9 opened #155 "Import-AzSentinelHuntingRule error when updating rules"
Running Import-AzSentinelHuntingRule one time works as expected, but successive runs fails with the following error message even if there have been no changes to the hunting rule .json file.

[code]
Command that's been run:
`Import-AzSentinelHuntingRule -SubscriptionId ${{ parameters.SubscriptionId }} -WorkspaceName ${{ parameters.WorkspaceName }} -SettingsFile ${{ parameters.huntingRulesFile }}`

[2020-12-09 10:26] pkhabazi commented on #155
hi @Jaa9 thanks for reporting this issue! Are you having this issue also when you use the example Hunting template?

[2020-12-09 10:35] #148 closed

[2020-12-09 10:35] #150 closed

[2020-12-09 19:34] pkhabazi commented on #155
hi @Jaa9, this issue is caused because the prompt is asking for confirmation and that's not possible in NonInteractive mode.
you can solve this issue by running the function with the confirm switch set to false:

[code]

[2020-12-09 20:33] pkhabazi commented on #132
I have updated the get-azsentinelalertrule function output to match the JSON template format. This will solve the issue with exported rules.

[2020-12-10 12:15] pkhabazi commented on #151
hi @GeorgeAbouSamra thanks for reporting this issue. have you configured at playbook property the resource ID or the name of the playbook? And does it always work the second time or does it happen for each rule the first time?

[2020-12-10 16:35] GeorgeAbouSamra commented on #151
Hi @pkhabazi,

I'm using the resource ID of the Playbook that resides in the MSSP tenant. It always attaches the Playbooks the second time I run the script. The first time I run it, I get the errors in the screenshot above. The second time I run the same script, it attaches the Playbook correctly.

With that said, I did some changes last night to Import-AzSentinelAlertRule.ps1 and got it to work,

[2020-12-11 12:37] pemontto opened #158 "Import-AzSentinelAlertRule fails with updated query"
# Environment

[code]

# Steps to reproduce

I recently updated some time series anomaly analytics based on this recent PR - https://github.com/Azure/Azure-Sentinel/pull/1418.

<details>
<summary>After this the rules fail to import with a vague 500 error.</summary>

[code]

</details>

<details>
<summary>This is the minimal test case</summary>

[code]

</details>

This same JSON will work if I mak

[2020-12-11 12:40] pemontto commented on #158
OK just as I was posting this I discovered that this PR introduced non-breaking whitespace. A very non-obvious problem, especially from the API response.

[2020-12-11 13:00] pemontto commented on #158
Probably not something AzSentinel should have to cater for. Have opened a PR at the source https://github.com/Azure/Azure-Sentinel/pull/1448. Ideally the API should give a more verbose error.

[2020-12-14 21:11] pkhabazi commented on #151
Thanks for the feedback @GeorgeAbouSamra , Thats really strange because it should be already as you mentioned. In the [Development](https://github.com/wortell/AZSentinel/blob/development/AzSentinel/Public/Import-AzSentinelAlertRule.ps1#L237) branch you can see that's already correct. But somehow it didn't got merged to master branch.. I will include this in the next release.

[2020-12-14 21:19] #132 closed

[2020-12-15 14:39] dmaasland opened #161 "Creating Alert rules fails with "suppressionDuration" set"
Hello,

I've noticed that creating a new rule using **`New-AzSentinelAlertRule`** and setting any value to the **`SuppressionDuration`** parameter, the rule creation fails with the following error:

[code]

I'm using this data to create a rule:
[code]

So my parameters are:
[code]

I think I have tracked the issue down to [this](https://github.com/wortell/AZSentinel/blob/20dea69a687af33c02c3633e80

[2020-12-15 23:28] nconder commented on #86
Hi @john-crouch have you created a merge request yet if not did you need any help to validate?

[2020-12-16 18:04] GeorgeAbouSamra commented on #151
Hi @pkhabazi,

Thank you for that. For some reason it's still not working.

If you take a look at line 237, it's correct now.

![image](https://user-images.githubusercontent.com/36736267/102387590-8f825c80-3f9e-11eb-9b9d-db9c4f782495.png)

If you look at line 267, it still points to $($body.Properties.playbookName) instead of $item.playbookName

![image](https://user-images.githubusercontent.com/3

[2020-12-17 21:25] NatIC0 commented on #114
I'm facing the same issue.
Issue arose while testing the sentinel-devops deployment.

**********************
PowerShell transcript start
Start time: 20201217162400
Username: ACCESS-IT\137.BLavoie.26
RunAs User: ACCESS-IT\137.BLavoie.26
Configuration Name:
Machine: BLAVOIE-LT1 (Microsoft Windows NT 10.0.19042.0)
Host Application: C:\Program Files\PowerShell\7\pwsh.dll -WorkingDirectory ~
Process ID

[2020-12-21 18:53] pkhabazi commented on #155
hi @Jaa9 I will close the issue because I haven't received any updates. If you are still experiencing  this issue please feel free to reopen. kr, Pouyan

[2020-12-21 18:53] #155 closed

[2020-12-21 19:55] #85 closed

[2020-12-23 10:45] nuggetinu opened #165 "Unable to import YAML files"
Hi,

I am trying to import the YAML files from the Sentinel Github using the AzSentinelAlertRule command, however this is failing with:

**Import-AzSentinelAlertRule: Cannot validate argument on parameter 'RuleName'**

Using the verbose switch I only get -  'Found compatibel yaml file'

Currently running New-AzSentinelAlertRule.ps1 0.6.18 but also tried with 0.6.8 with same issue. Powershell 7 on

[2020-12-25 14:19] orhanmoye commented on #165
Hi,

You will need to added your yaml file to the root schema :  https://github.com/wortell/AZSentinel#root-schema

Basically, your yaml file will need to be inside a parent of "Scheduled".  your yaml will need to be an array item within "Scheduled".

Hope that helps.

[2020-12-30 13:45] pkhabazi commented on #151
hi @GeorgeAbouSamra Thank you for the update, Just release version 0.6.20 where all the references should be fixed. please let me know if this fixes your issue. kr, Pouyan

[2021-01-06 13:16] GeorgeAbouSamra commented on #151
Hi @pkhabazi,

Thank you! It's working as should now.

[2021-01-06 13:16] #151 closed

[2021-01-18 08:52] rleal124 commented on #165
For Scheduled rule example in below.  More recent version the root schema are changed.
Scheduled:
- displayName:
 (....)

[2021-01-18 08:54] rleal124 commented on #161
Change to `suppressionDuration: PT1H`

[2021-01-18 09:00] dmaasland commented on #161
That makes no difference. 1H is transformed to PT1H regardless:

[code]

[2021-01-19 09:28] rleal124 opened #168 "GroupingConfigurationEnabled: Not work."
# Steps to reproduce

In below the rule I used for test.

` Import-AzSentinelAlertRule -SubscriptionId SubID -WorkspaceName WSName -SettingsFile .\RuleForTestGroupping.yaml`

And yaml file I used for tests:

[code]

# Expected behavior

GroupingConfigurationEnabled enable on Sentinel.

# Actual behavior

GroupingConfigurationEnabled not take any effect.

[2021-01-23 16:44] pkhabazi commented on #168
HI @rleal124 thanks for the feedback. Based on the [API documentation ](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/examples/alertRules/CreateScheduledAlertRule.json#L34)"GroupingConfigurationEnabled" must be "Enabled". Changing the property name will solve the issue.

[2021-01-25 17:21] dave-simons commented on #86
Hi! I need to use AZSentinel with an Azure GOV environment too and am interested in this functionality being rolled up into the release version also.

[2021-02-02 09:58] rleal124 commented on #168
@pkhabazi You are right i change the template to Enable and works. Thanks

[2021-02-02 21:50] pkhabazi commented on #168
Thanks for the feedback, closing issue

[2021-02-02 21:50] #168 closed

[2021-02-03 16:39] #114 closed

[2021-02-16 15:27] bram-boer opened #172 "Update-AZSentinelIncident doesn't allow updating of older incidents"
I'm cleaning up old incidents in my Sentinel environment; as it has alot of invalid incidents now i want to do this more efficient than through the GUI.
using Get-AZSentinelIncident I already ran into the issue that it didn't show all incidents in the environment; it seems capped at last 200. circumventing this using the -All switch combined with -CaseNumber this solved my problem.
however when i

[2021-02-23 10:06] pemontto opened #173 "[Feature Request] Disable other response playbooks"
# Summary of the new feature/enhancement
Currently when changing the PlaybookName for an analytic, the new playbook gets activated alongside any existing playbooks.

It would be useful if we could define a behaviour where the defined playbook will be the only one activated. I.e. Disable all other enabled playbooks.

[2021-02-24 14:36] Jaa9 opened #174 "Bug Report"
I'm able to use Import-AzSentinelAlertRule and import the YAML based Detection Rules from https://github.com/Azure/Azure-Sentinel/tree/master/Detections after tweaking a couple of elements:

- Change: name: -> displayname:
- Add: enabled: true

When deploying these templates (that are also available in the Portal) it will not flag correctly that the template is in use. I have tried to link the ori

[2021-03-02 10:44] pkhabazi commented on #172
Hi @BubbaNL thanks for the feedback, I will update the function to also include -All switch

[2021-03-03 20:55] rwaal opened #175 "Import-AzSentinelDataConnector doesn't configure AzureSecurityCenter Data Connector"
# Environment

[code]

# Steps to reproduce
I am trying to configure the Azure Defender data connector inside Sentinel. As far as I know, you need to refer to this data connector as `AzureSecurityCenter` when configuring it programmatically.

I am using the following command:

[code]

# Expected behavior

I expect the Azure Defender enabled subscription to be connected within the data connector. L

[2021-04-20 17:05] blanco10kid opened #177 "Import-AzSentinelAlertRule fails when passing multiple JSON files"
**In raising this issue, I confirm the following:** `{please fill the checkboxes, e.g: [X]}`

- [X] I have read and understood the [contributors guide](.\CONTRIBUTING.md).
- [X] The issue I am reporting can be *replicated*.
- [X] The issue I am reporting isn't a duplicate (see [FAQs](##/wiki/FAQs), [closed issues](https://github.com/wortell/AZSentinel/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed

[2021-05-19 02:37] secalert170925 opened #179 "Bug Report"
# Environment

[code]

# Steps to reproduce

Run "Get-AzSentinelHuntingRule".

# Expected behavior

Hunting Rule information is output.

# Actual behavior

Log Analytics workspace function information is output.

[2021-05-24 08:50] pemontto commented on #177
Can you post samples of your JSON files to reproduce the issue?

[2021-05-24 09:05] pemontto opened #180 "[Feature Request] Support new anomaly rule type"
# Summary of the new feature/enhancement

Sentinel now has an anomaly rule type in preview - https://docs.microsoft.com/en-us/azure/sentinel/tutorial-detect-threats-built-in#anomaly
Anomaly rules can be duplicated from the inbuilt templates to allow tuning parameters.

A sample of one of the inbuilt anomaly rules from `Get-AzSentinelAlertRule`:
[code]

[2021-05-24 09:06] pemontto commented on #179
Can you provide more detail, what was the output? What was the full command you ran?

[2021-05-25 07:50] pemontto opened #181 "[Feature Request] Retry-able errors"
# Summary of the new feature/enhancement

We sometimes get pipeline errors when deploying rules with `Import-AzSentinelAlertRule` because a transient error has occurred. Most commonly some gateway timeout on Microsoft's side:

[code]

# Proposed technical implementation details (optional)

Include retry logic for status codes that represent a server issue. I.e. attempt to retry 500 errors up to 3

[2021-05-26 00:43] secalert170925 commented on #179
I ran bellow command.

`Get-AzSentinelHuntingRule -WorkspaceName $WorkSpaceName -SubscriptionId $SubscriptionId | format-table`

And its output is bellow.

Category            DisplayName                                                                                     Query
--------            -----------                                                                                     -----

[2021-06-08 13:19] jaroslavkozak opened #182 "Entities Mapping"
Will it be possible to assign entities using a script and/or function?

Will it be possible to export the settings for future replication?

[2021-06-08 13:22] jaroslavkozak opened #183 "Alert Details Settings"
Will it be possible to assign alert details using a script and/or function?

Will it be possible to export the settings for future replication?

![image](https://user-images.githubusercontent.com/60477762/121192489-db151500-c821-11eb-88d3-b7f6aa596128.png)

[2021-06-08 13:35] gabrielnecula commented on #182
I'm also in a big need of this. Mandatory for using this in CICD.

[2021-06-21 11:03] Jd0dd opened #184 "Bug Report: Issue with Taxii Data Connectors"
# Environment

[code]

# Steps to reproduce

**Import-AzSentinelDataConnector -verbose**

# Expected behavior

Using the  Import-AzSentinelDataConnector, list all of our data connectors in our subscription.

# Actual behavior

I ran the  **Import-AzSentinelDataConnector -verbose** and noticed we were getting no data from any of our GET requests from the api. We tried this against the _2020-01-01_

[2021-06-28 17:32] Gareze opened #185 "Import-AzSentinelAlertRule update to support CustomDetails"
# Summary of the new feature/enhancement
Microsoft added Custom Details mapping and Event Grouping for each event (Trigger an alert for each event (preview)) for Analytical Rules.
This allows for more flexibility when it comes to data mapping and event grouping.

https://techcommunity.microsoft.com/t5/azure-sentinel/what-s-new-alert-enrichment-custom-details-and-entity-mapping/ba-p/2195409

# Deta

[2021-07-01 09:02] alvaro354 commented on #182
Yes it could be good if that feature is added in the next update. Entity Mapping and the new Alert details enrichment

[2021-07-02 04:08] jutlag opened #186 "New-AzSentinelAlertRule does not work with tactic parameter even if the values are formatted correctly"
# Environment

[code]

[2021-07-06 17:10] callumCD commented on #184
I can confirm that I have seen this too.  Microsoft appear not to no longer support Threat Intelligence Taxii's (list, create, update) in the `2020-01-01` API since early June 2021. However, they still support taxii's in the `2021-03-01-preview` API.

The hard coding of the API version on line 354 of https://github.com/wortell/AZSentinel/blob/master/AzSentinel/Public/Import-AzSentinelDataConnector

[2021-07-20 19:29] JaimePolo opened #187 "Set-AzSentinel: Response status code does not indicate success: 401 (Unauthorized)"
# Environment

[code]

# Steps to reproduce

#1-Connect to Azure
Connect-AzAccount

#2-Set Azure Context
Set-AzContext -Subscription 76b3de50-2f93-451e-9482-4e7a23712baf

#3-Create Workspace
New-AzOperationalInsightsWorkspace -Location "canadacentral" -Name "SentinelTest" -Sku standard -ResourceGroupName AZR1-RG-LA001

#4-Set Sentinel
Set-AzSentinel -SubscriptionId "76b3de50-2f93-451e-9482-4e7a237

[2021-07-27 17:28] blanco10kid commented on #177
@pemontto Here's a sample JSON file. The syntax is exactly the same in all the other JSON files.

[code]

[2021-07-28 09:12] pemontto commented on #177
@blanco10kid each of the [root level rule types](https://github.com/wortell/AZSentinel#root-schema) should be an array `[]` not an object `{}`. This should work for you:

[code]

Import using `Import-AzSentinelAlertRule -SettingsFile ./your_json_file.json`

[2021-08-02 07:57] pkhabazi commented on #187
hi @JaimePolo thanks for the feedback. Which permission do you have on the Azure subscription? If it's the first time you are trying to enable Azure Sentinel on the subscription then Owner permission is required because the Azure Resource Provider needs to be activated. please let me know if this fixes your issue?

[2021-08-02 07:58] pkhabazi commented on #177
@blanco10kid can you please verify if the above proposed solution works for you?

[2021-08-02 08:09] pkhabazi commented on #174
hi @Jaa9 Thanks for your feedback. alertRuleTemplateName needs to be the GUID name of the template rule and not the display name. you can use Get-AzSentinelAlertRuleTemplates to get the correct GUID name

[2021-08-02 09:23] pkhabazi commented on #186
hi @jutlag, The property "resourceGroupName" is not port of AzSentinel so I think you are using the MS PowerShell module. In AzSentinel Tactics are configured as following:
[code]

see [readme](https://github.com/wortell/AZSentinel/blob/master/docs/New-AzSentinelAlertRule.md) for more info

[2021-08-02 10:08] pkhabazi commented on #165
This issue is fixed in the latest version, you can just run the code below without changing the yaml file.

[code]

[2021-08-02 10:08] #165 closed

[2021-08-02 10:23] pkhabazi commented on #181
hi @pemontto thanks for the feedback, sounds as a good proposal. Do you have some code example or working solution that I can integrate in AzSentinel?

[2021-08-02 13:28] jutlag commented on #186
Exactly that is what we tried and still get the same error. The same error message is received.

[2021-08-02 14:59] pkhabazi commented on #186
can you try running it as following:

[code]

[2021-08-03 02:10] jutlag commented on #186
Still getting the same error
![image](https://user-images.githubusercontent.com/37092205/127946476-184ffc04-6735-48d3-9a27-d93af567f06b.png)

I had tried all these options before contacting you guys. I understand the data type expected by the parameter value. I can dump the existing tactics with the get command and see the format used as well. I have taken examples from the ARM templates. I know h

[2021-08-17 03:11] blanco10kid commented on #177
Can confirm that the solution above worked. Thanks team!

[2021-08-17 03:11] #177 closed, assigned to nobody

[2021-10-01 15:01] pemontto opened #190 "[Feature Request] Support new ThreatIntelligence rule kind"
# Summary of the new feature/enhancement
Azure Sentinel templates include a new rule kind `ThreatIntelligence`. It would be useful if this could be deployed by AzSentinel.

It looks like this:
[code]

[2021-10-01 15:03] pemontto commented on #181
@pkhabazi I need to do some testing with the API to observe the various responses, there are likely some 4xx and 5xx errors we can safely retry. Will get back to you!

[2021-11-15 00:34] Nickteekw opened #192 "Set-Sentinel returns with status code 400"
Hi there,

I have had used this module before and I didn't encounter any issue in setting a log analytic workspace to Sentinel until recently.

Getting error message status code 400 when command Set-Sentinel is used.

Your feedback in this matter is much appreciated.

# Environment

[code]

# Steps to reproduce
Set-AzContext -subscription <subscriptionId>

Set-AzSentinel -WorkspaceName log-aue-sha

[2022-03-31 08:54] hisashin0728 opened #194 "Failed to import "AzureResource" entityType and "ResourceId" field."
# Environment
PSVersion                      7.2.2
PSEdition                      Core
OS                             Microsoft Windows 10.0.22000
AzSentinel                0.6.21

[code]

# Steps to reproduce
Import the following sample YAML rule.
https://github.com/hisashin0728/SentinelRule_AzureCISBenchmark/blob/main/CIS_521.yaml

Import-AzSentinelAlertRule -SubscriptionId <SubscriptionID> -Wor

[2022-04-11 06:19] nikasungod opened #195 "Set-AzSentinel: Unable to enable Sentinel on workspace with error message: Response status code does not indicate success: 404 (Not Found)."
Set-AzSentinel: Unable to enable Sentinel on law-test-sentineldeploy1 with error message: Response status code does not indicate success: 404 (Not Found).

# Environment

Windows build number: Microsoft Windows [Version 10.0.19042.1586]
PowerShell version (if applicable): 7.2.2

# Steps to reproduce

Set-AzSentinel -WorkspaceName WorkspaceName

# Expected behavior

Sentinel is enabled on the log a

[2022-08-02 10:40] ghost opened #196 "Import-AzSentinelAlertRule with invalid rule does not cause exception"
# Environment

Windows build number: Microsoft Windows [Version 10.0.22000.795]
PowerShell version 7,2,5

# Steps to reproduce

- Enable Sentinel in a subscription
- Take [AZSentinel](https://github.com/wortell/AZSentinel)/examples/AlertRules.json] and attempt to import it

**Import-AzSentinelAlertRule -SettingsFile .\alertrules.json -WorkspaceName "foo"**

`WARNING: Unable to find LogicApp playbo

[2022-08-18 10:42] nickshanks347 commented on #195
Getting the same issue, did you ever resolve this?

[2022-08-22 10:53] sandeep5234 opened #198 "Add capability to deploy Techniques in analytics rule for Microsoft Sentinel"
Analytics Rules with mapped MITRE techniques do not get imported as JSON

Currently "import-azsentinlealertrule" command under module "azsentinel" 0.6.21 doesn't deploy Techniques values when deploying the analytics rules.  For example below rule has Techniques "T1059". If we deploy this rule via the powershell module "azsentinel" "import-azsentinlealertrule" command  , the techniques values doesn

[2022-10-14 06:55] synergie91 commented on #195
I too have this issue.

[2022-10-21 05:31] sandeep5234 commented on #185
Do we have an approx. ETA on this? We are using azsentinel latest module and custom details are important part that our Analytics queries needs. Please let us know.

[2022-10-31 07:11] TheCat1989 opened #199 "Bug Report"
# Environment

[code]

# Steps to reproduce

Fork this Sentinel github repo into my repository

click on the  "+Add new" option and create a connection

Select the content type as analytic rules

![image](https://user-images.githubusercontent.com/35518480/198950985-6cf4c9af-12d2-440a-b5a5-a7b6765abb8f.png)

Hit deploy and returns the following error

![image](https://user-images.githubusercontent.

[2022-10-31 07:16] TheCat1989 commented on #199
Sorry, posted the issue in the wrong repo, please ignore

[2022-11-17 08:08] jlilleby commented on #195
I am also getting this issue, anyone got this working?

[2022-11-19 16:35] havalo-lolawo commented on #195
I am also having the same issue, has anyone found the resolution or a workaround?